
.faction-panel {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 1px 4px;
}

main .faction {

  &-baratheon {
    background-color: #fed000;
    color: #000;
  }

  &-frey {
    background-color: #858587;
    color: #34365D;
  }

  &-lannister {
    background-color: #971A14;
    color: #F1B530;
  }

  &-royce {
    background-color: #f3f3e0;
    color: #cd691f;
  }

  &-stark {
    background-color: #808080;
    color: #000;
  }

}

.house-label {
  div {
    color: #666;
    font-size: 0.6em;
    letter-spacing: 5px;
    line-height: 1.5;
  }
  div + div {
    color: #e5e5e5;
    font-family: 'Game of Thrones';
    font-size: 0.7em;
    letter-spacing: 2px;

    &:first-letter {
      font-size: 125%;
    }
  }
}

.house-bullet {
  $size: 18px;

  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.1);
  height: $size;
  margin: auto;
  position: relative;
  text-align: center;
  width: $size;

  &:after {
    content: '\f132';
    font-family: FontAwesome;
    font-size: 0.8em;
    left: 0;
    line-height: $size;
    position: absolute;
    top: 0;
    width: $size;
  }
}
