
.faction-panel {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 1px 4px;
}

main .faction {

  &-baratheon {
    background-color: #fed000;
    color: #000;
  }

  &-frey {
    background-color: #858587;
    color: #34365D;
  }

  &-lannister {
    background-color: #971A14;
    color: #F1B530;
  }

  &-royce {
    background-color: #f3f3e0;
    color: #cd691f;
  }

  &-stark {
    background-color: #808080;
    color: #000;
  }

}
