
.page-title {
  $colour-title: $header-title-colour;

  color: $colour-title;
  font-family: 'Game of Thrones';
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0;
  padding: 5px 0;
  text-align: center;

  .large {
    display: inline-block;
    font-size: 1.6em;

    &:first-letter {
      font-size: 1.3em;
    }
  }

  .db {
    color: #422;
    font-family: "Roboto", sans-serif;
    font-size: 2.7em;
    font-weight: 600;
  }
}

.main-header {
  background-color: $nav-bg-colour;
  //overflow: hidden;
}

.main-nav {
  $height: 30px;

  background-color: #222;
  height: $height;
  line-height: $height;
}
