
$colour-list-heading: $colour-mercury;
$colour-list-heading-border: $colour-tundora;

.list-heading {
  color: $colour-list-heading;
  display: table;
  font-size: 1em;
  letter-spacing: 1px;
  margin: 1.2rem auto 1rem auto;
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;

  &:before, &:after {
    border-top: 1px solid $colour-list-heading-border;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  &:before { right: 2.5%; }
  &:after { left: 2.5%; }
}

.centered-items {
  text-align: center;

  li {
    padding-bottom: 5px;
  }
}
