
.main-nav {
  $colour-t1-bg: #333;
  $colour-t2-bg: #444;
  $colour-link: #BBB;
  $colour-link-active: #FFF;

  $teir-height: 40px;

  background-color: transparent;
  box-shadow: unset;
  display: block;
  height: ($teir-height * 2);
  line-height: $teir-height;
  position: relative;
  text-align: center;

  .nav-tier {
    height: $teir-height;
    line-height: $teir-height;
    overflow: hidden;

    ul {
      display: inline-block;
      height: $teir-height;
      margin: 0 auto;

      li {
        font-size: 1.1rem;
        margin: 0 auto;

        a,
        span {
          cursor: pointer;
          padding: 0 15px;
          color: $colour-link;
        }

        i {
          margin-right: 4px;
        }
      }

    }

    &-1 {
      background-color: $colour-t1-bg;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 20;

      ul li {
        height: $teir-height;

        &.active {
          background-color: $colour-t2-bg;
          outline: 0;
        }

        &:hover {
          span {
            color: $colour-link-active;
          }
        }
      }
    }

    &-2 {
      background-color: $colour-t2-bg;
      position: absolute;
      width: 100%;
      top: 0;
      transition: all 0.1s ease;
      z-index: 10;

      &.active {
        top: $teir-height;
      }

      a {
        &:hover {
          background-color: transparent;
          color: $colour-link-active;
        }

        &:focus {
          color: $colour-link-active;
          outline: 0;
          text-decoration: underline;
        }
      }
    }
  }
}

// http://www.makinggameofthrones.com/
