
.main-nav {
  $colour-t1-bg: #666;
  $colour-t2-bg: #888;

  $teir-height: 40px;

  display: block;
  height: auto;
  margin-bottom: $teir-height;
  position: relative;
  text-align: center;

  .nav-tier {
    height: $teir-height;
    line-height: $teir-height;
    overflow: hidden;

    ul {
      display: inline-block;
      margin: 0 auto;

      li {
        margin: 0 auto;

        a,
        span {
          cursor: pointer;
          padding: 0 15px;
        }

        i {
          margin-right: 4px;
        }
      }

    }

    &-1 {
      background-color: $colour-t1-bg;

      ul li.active {
        background-color: $colour-t2-bg;
        outline: 0;
      }
    }

    &-2 {
      background-color: $colour-t2-bg;
      display: none;
      position: absolute;
      width: 100%;

      &.active {
        display: block;
      }
    }
  }
}

// http://www.makinggameofthrones.com/
